body {
	max-width: 850 px;
	}

.navigation {
	text-align: left;
	font-size: 80%;
	padding: 20px 0px 17px 20px;
	margin-top: 10px;
	font-family: futura;
	background-color: #ff9966;
	}

a { color: #000;}

a:link {
	text-decoration: none;
	color: #000;
	}
	
a:visited {
	text-decoration: none
	color: #000;
	}
	
a:hover {
	color: #ffcc99;
	}
	
.intro {
	padding-top: 10px;
	}
	
.steps {
	padding: 30px 0px 0px 20px;
	}
	
.stepstext {
	background-color: rgb(255,204,153, 0.75);
	padding: 30px 120px;
	font-family: futura;
	font-size: 200%;
	line-height: 2;
	}


.historytext {
	background-color: rgb(255,204,153, 0.75);
	padding: 30px 130px;
	font-family: futura;
	font-size: 100%;
	line-height: 24px;
	}

.twoimages {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	padding: 0px 0px 30px 0px;
	}
	
.caption {
	text-align: center;
	font-family: futura;
	font-size: 90%;
	}

.title {
	text-align: center;
	padding-top: 275px;
	}
	
.dudes {
	text-align: center;
	}
	
.wow {
	padding-left: 500px;
	}

.amaze {
	padding-left: 1000px;
		}
	
.questionstext {
	background-color: #ff9966;
	padding: 40px 130px;
	font-family: futura;
	font-size: 100%;
	line-height: 24px;
	}	

.threeimages {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	}
	
.upload {
	text-align: center;
	background-color: rgb(255,204,153, 0.75);
	padding: 0px 0px 30px 0px;
	}
	
.join {
	background-color: rgb(255,204,153, 0.75);
	text-align:center;
	padding: 30px 0px;
	font-family: futura;
	font-size: 100%;
	line-height: 24px;
	}
	
.contact {
	padding-top: 30px;
	text-align: justify;
	}
	
.contacttext {
	background-color: rgb(255,204,153, 0.75);
	padding: 30px 130px;
	font-family: futura;
	font-size: 100%;
	line-height: 24px;
	}



@media only screen and (max-device-width: 600px) {

.navigation {
	display: none;
	}

.historytext {
	line-height: 1.5;
	}
	
.caption {
	font-size: 9pt;
	}

.questionstext {
	line-height: 1.5;
	}
	
.threeimages {
	margin: 0;
	}
	
.upload {
	text-align: center;
	background-color: rgb(255,204,153, 0.75);
	padding: 0px 0px 30px 0px;
	}
	
input {
	font-size:2em;
	border: 3px solid gray;
	}
	
.steps img {
	width: 50%;
	}
	
.history img {
	width: 100%;
	}
	
.questions img {
	width: 75%;
	}
	
.photo img {
	width: 100%;
	}
	
.contact img {
	width:50%;
	}

.join {
	padding-bottom: 35px;
	}
	}
